<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cadastro de Trecos</ion-title>
    <ion-icon
      name="bag-add"
      slot="end"
      size="large"
      class="ion-margin"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!cad.sended">
    <p>Cadastre Seus trecos Aqui</p>

    <p>
      <ion-input
        label="Nome:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Nome completo do item"
        [autofocus]="true"
        [(ngModel)]="cad.nameT"
        error-text="Nome inválido!"
        required
        minlength="3"
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Descrição:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Descriçao do produto"
        [(ngModel)]="cad.descriptionT"
        error-text="Descriçao invalida!"
        required
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Localização:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Localização do item"
        [(ngModel)]="cad.locationT"
        error-text="Localizaçao inválida!"
        required
        minlength="3"
      ></ion-input>
    </p>
    <p>
      <ion-input
        label="Status:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Status do produto on / off"
        [(ngModel)]="cad.statusT"
        error-text="Erro ao preencher Status!"
        required
        minlength="2"
      ></ion-input>
    </p>

    <p>
      <ion-button type="submit" (click)="sendTreco()" id="present-alert"
        >Enviar</ion-button
      >
    </p>
  </div>

  <div *ngIf="cad.sended">
    <h4>Treco cadastrado com sucesso!</h4>
    <p>clique no botao para cadastrar outro</p>
    <p>
      <ion-button type="submit" (click)="refresh()" id="present-alert"
        >Refresh</ion-button
      >
    </p>
  </div>
</ion-content>
